comunicacao-twitter/tweet-umidade
[{"id":"ca825d26.fc639","type":"http in","z":"dae5266c.21e038","name":"bla","url":"/tweetumidade","method":"get","swaggerDoc":"","x":122.5,"y":296,"wires":[["bf9306f6.13b3d"]]},{"id":"f5099431.cdd318","type":"http response","z":"dae5266c.21e038","name":"resposta","x":604.5,"y":393,"wires":[]},{"id":"bf9306f6.13b3d","type":"function","z":"dae5266c.21e038","name":"converte número","func":"msg.payload.requestVar = parseInt(msg.payload.requestVar);\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":287,"wires":[["b44fe7d.2e4ec98"]]},{"id":"4111f182.ea40d8","type":"function","z":"dae5266c.21e038","name":"mensagem","func":"msg.payload = \"Umidade do nosso Lab: \" + msg.payload.requestVar + \"%\";\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":106,"wires":[["bb1037f.773b7c8","f5099431.cdd318"]]},{"id":"bb1037f.773b7c8","type":"twitter out","z":"dae5266c.21e038","twitter":"","name":"Tweet","x":710.5,"y":132,"wires":[]},{"id":"b44fe7d.2e4ec98","type":"switch","z":"dae5266c.21e038","name":"if","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":427.5,"y":194,"wires":[["4111f182.ea40d8"],["f5099431.cdd318"]]}]
